.skills {
  max-height: 100vh;
  background: var(--backgroundColor);
  color: var(--text-color);
  padding-bottom: 20px;
}
.skills h3 {
  text-align: center;
  padding-top: 20px;
}
.card p{
  margin-top: 20px;
 
}
.skills-container {
  /* width: 1200px;  */
  margin: auto;
}
.skills-cards {
  margin-top: 60px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  
}

.card {
  text-align: center;
  width: 180px;
  height: 200px;
  background: rgb(61, 58, 58);

}

.card img {
  fill: white;
  width: 100px;
  /* background: wheat; */
  padding: 20px ;
  margin-top: 20px;
}


@media (max-width: 800px) {
  .skills {
    min-height: 50vh;
  }
  .skills-container {
    width: 90%;
    margin: auto;
    
  }
  .skills-cards {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
  }
  .card {
    text-align: center;
    width: 150px;
    height: 170px;
  }
  .card p{
    margin-top: 20px;
    font-size: 12px;
  }
}
