.portfolio {
  min-height: 100vh;
  width: 100%;
}
.portfolio-container {
  min-height: 100vh;
  max-width: 1200px;
  
  margin: auto;
}
.project-heading{
  text-align: center;
  padding-top: 20px;

}

.card-holder{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}
.card-portfolio{
  width: 300px;
  min-height: 500px;
  background: rgba(226, 226, 226, 0.61);
  position: relative;
  padding: 40px 30px;
}

.card-portfolio img{
  width: 100%;
  height: 120px;
  object-fit: cover;
  padding: 10px;
}
.card-portfolio p{
font-size: 13px;
font-weight: lighter;
}

.card-portfolio .btns{
  position: absolute;
  bottom: 0;
  margin-bottom: 20px;
}

.btns a{
  border: 1px solid black;
  margin: 5px;
  padding: 5px;
  color: black;
}